@import "../../utils/styles/variables.scss";

.colorChooser {
  height: 350px;
  width: 350px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  .closeChooser {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .colorsList {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    flex-wrap: wrap;

    .color {
      height: 45px;
      width: 45px;
      border-radius: 100%;
      border: 1px solid black;
      cursor: pointer;
      transition: 0.8s;
    }

    .transparent {
      background-color: transparent;
    }

    .black {
      background-color: black;

      &:hover {
        background-color: rgb(53, 53, 53);
      }
    }

    .white {
      background-color: white;

      &:hover {
        background-color: rgb(224, 224, 224);
      }
    }

    .red {
      background-color: red;

      &:hover {
        background-color: rgb(216, 0, 0);
      }
    }

    .blue {
      background-color: blue;

      &:hover {
        background-color: rgb(0, 0, 210);
      }
    }

    .yellow {
      background-color: yellow;

      &:hover {
        background-color: rgb(208, 208, 0);
      }
    }

    .green {
      background-color: green;

      &:hover {
        background-color: rgb(0, 95, 0);
      }
    }

    .orange {
      background-color: orange;

      &:hover {
        background-color: rgb(209, 136, 0);
      }
    }

    .violet {
      background-color: $mainColor;

      &:hover {
        background-color: #764074;
      }
    }

    .pink {
      background-color: pink;

      &:hover {
        background-color: rgb(249, 164, 178);
      }
    }
  }
}
