@import "../../utils/styles/variables.scss";

.editor {
  position: relative;
  min-height: 100dvh;
  min-width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
